.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero-btn {
  width: 150px;
}
.pressLogo {
  width: 90%;
}
.ecosystem {
  width: 90%;
}
.arrow {
  a {
    text-decoration: none;
  }
}
.largest-broker {
  width: 100%;
}
.rupees {
  color: rgb(201, 126, 47);
}
.container {
  margin: auto;
}
.logo {
  width: 25%;
}
.zerodha-logo,
.logos {
  width: 80%;
}
.navbar-toggler-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.links {
  text-decoration: none;
}
.footer-bg {
  background-color: rgb(233, 233, 233);
  margin: 0;
}
.custom-nav-link {
  text-decoration: none !important;
}

.custom-nav-link:hover {
  text-decoration: none !important;
}

.custom-nav-link.active {
  font-weight: bold;
}
.min-width {
  min-width: 400px;
}
.blue {
  color: #387ed1;
}
.bg-blue {
  background-color: #387ed1;
  color: white;
  a {
    text-decoration: underline;
    color: white;
  }
}
.support-input {
  width: 100%;
}
.search-icon{
  position: absolute;
  right: 0;
}
/* styles.css */
.input-container {
  position: relative;
  width: 100%; /* Adjust as needed */
}

.support-input {
  width: 100%;
  padding-right: 30px; /* Adjust padding to avoid overlapping the icon */
}

.search-icon {
  position: absolute;
  right: 10px; /* Adjust to position the icon inside the input */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Make sure the icon doesn't block input events */
  color: gray; /* Optional: change the icon color */
}
